<?xml version="1.0"?>
<model>
  <name>container-triple-stack</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>jennifer</name>
   <email>jenniferdavid87@gmail.com</email>
  </author>

  <description>
20 feet containers and one 40 feet container stacked for simulating harbour
  </description>
</model>
